json-tricks==3.2.0
mypy-lang==0.4.4
requests==2.11.1
slackclient==1.0.9
typed-ast==0.5.6
websockets==3.2
psutil==4.3.1
prompt-toolkit==1.0.8
google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3
html2text==2018.1.9
gspread==2.0.0